@import './global.styles.css';


/* for screens from 900 above */
@media only screen and (min-width: 992px) {
 h1 {
    font-size: 5vw;
  } 

  .intro-content{
  margin: 20px 200px;
  }

  .c1{
    top: -180px;
    left: -400px;
  }
  
  .c2{
    bottom: -200px;
    right: -450px;
  }
}
