@import './global.styles.css';
  
/* for screens from 0 to 475 width  */
@media only screen and (max-width: 600px) {
h1 {
    font-size: 8vw;
  }

  .c1{
    top: -150px;
    left: -100px;
  }
  
  .c2{
    bottom: -200px;
    right: -150px;
  }
}